
.box{
	text-align: center;	
	border: 1px solid black;
}

.box-content{
	text-align: center;	
	/* border: 1px solid black; */
}

.box-item{
	text-align: center;	
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
}